{% extends "base.html.twig" %}
{% block body %}
  <div class="container-fluid mx-px-0 mt-3">
    <div class='row col-8 justify-content-center mb-5 mx-auto'>

      <div class="card col-4 px-0 text-center mx-5">
        <div class="card-header h4">

          {% if editMode %}
            Modifier la session
          {% else %}
            Créer une nouvelle session
          {% endif %}
        </div>
        <div class='card-body'>
          {{ form_start(sessionForm) }}
          {{ form_errors(sessionForm) }}
          {{ form_widget(sessionForm.title, { 'attr': {'placeholder': 'Intitulé de la session', 'class' : 'my-2 mx-auto ' }}) }}
          {{ form_widget(sessionForm.date, { 'attr': {'placeholder': 'date("${d/m/Y}")', 'class' : 'my-2 mx-auto col-12 ' }}) }}
          <div class='row justify-content-center'>
            {% if editMode %}
              {{ form_widget(sessionForm.status, { 'label' : 'Ouvrir/Fermer la session', 'attr': {'class' : 'my-2', 'class' : 'justify-content-center' }}) }}
            {% else %}
              {{ form_widget(sessionForm.status, { 'label' : false, 'attr':{'disabled':'disabled', 'class' : 'justify-content-center d-none'}}
              ) }}
            {% endif %}
          </div>
          <div class='row justify-content-center'>
            <button type="submit" class="btn btn-primary mt-3">
              {% if editMode %}
                Modifier
              {% else %}
                Ajouter
              {% endif %}
            </button>
          </div>
          {{ form_end(sessionForm) }}
        </div>
        <div class="card-footer edit-status-session">
          La session est fermée aux inscriptions par défaut
        </div>
      </div>
    </div>

  </div>

{% endblock %}