{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté en tant que  {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

<div class="container ">
  <div class="row justify-content-center text-center col-12">
    <div class="col-sm-3 col-xl-4 col-md-4 " style="height : 100px">
      <h1 class="h3 my-3 font-weight-normal">Connectez-vous</h1>

      
        <label for="inputEmail">E-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required="required" autofocus="autofocus">
        <label for="inputPassword">Mot de Passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required="required">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-lg btn-warning mt-3 justify-content-center" type="submit">Connexion</button>
      </form>
    </div>
  </div>
</div>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


{% endblock %}
