{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="mx-px-0 mt-3">
    <div class="row justify-content-center text-center col-12 ">
        <div class="col-sm-3 col-xl-4 col-md-4 shadText" style="height : 100px"> 
        <h3>Inscription</h3>
            <div class="container-fluid bg-secondary pt-5 pb-3">
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'E-mail', 'class' : 'my-2'}}) }}
    
        {{ form_widget(registrationForm.lastName, {'attr': {'placeholder': 'Nom', 'class' : 'my-2'}}) }}

        {{ form_widget(registrationForm.firstName, {'attr': {'placeholder': 'Prénom','class' : 'my-2'}}) }}

        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Mot de Passe', 'class' : 'my-2'}}) }}

        {{ form_widget(registrationForm.birthdate, {'attr': {'placeholder': 'Date de Naissance', 'class' : 'my-2' , 'class' : 'justify-content-center'}}) }}

        {{ form_widget(registrationForm.phoneNumber, {'attr': {'placeholder': 'Numéro de téléphone', 'class' : 'my-2'}}) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-outline-warning">S'inscrire</button>
    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
</div>
   

{% endblock %}
