{% extends "base.html.twig" %}
{% block body %}
<div class="container w-25">
    {{ form_start(sessionForm) }}   
    {{ form_errors(sessionForm) }}
    {{ form_row(sessionForm.title, { 'label': 'Nom' }) }}
    {{ form_row(sessionForm.date, { 'label': 'Date' }) }}
    {% if editMode %}
    {{ form_row(sessionForm.status, { 'label': 'Fermeture de la session' }) }}
    {% else %}
    {{ form_row(sessionForm.status, { 'attr':{'disabled':'disabled'} }  ) }}
    {% endif %}
    <button type="submit" class="btn btn-secondary">
    {% if editMode %}
        Modifier
    {% else %}
        Ajouter
    {% endif %}
    </button>
    {{ form_end(sessionForm) }}
</div>

{% endblock %}