{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}
{% block body %}
<div class="container mt-5">
    <table class="table table-striped table-dark col-12">
    
        <div class='row'>
        <div class='col shadText'>
            <h4>Liste des utilisateurs</h4>
        </div>
        <div class='col-3 pl-auto'>
        
            <form path="{{ path('admin')}}" id='search' method="GET" >
                <input class='form-control mb-3 shadow' type="text" name ='search' label='recherche' placeholder='Rechercher ...'></div></div>
            </form>
            <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Licence</th>
                <th scope="col">Adresse</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody id='table'>
            {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.birthdate | date('d/m/y') }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.license }}</td>
                <td>{{ user.address }}</td>
                <td width='15px'>
                    <form action="{{ path('admin_user_edit', {'id': user.id}) }}">
                        <button class="material-icons-outlined btn bg-transparent grow">edit</button>
                    </form>
                </td>
                <td width='25px'>
                    <form action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr ?')" >
                        <button class="material-icons-outlined btn bg-transparent grow" onclick='notyDelete()'>delete_forever</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            
            {{ knp_pagination_render(users)}}
            
        </tbody>
    </table>
    <table class="table table-striped table-dark ">
        <div class='row col shadText mt-5 mb-3'>
            <h4>Liste des sessions</h4>
        </div>
        
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
                <th scope="col">Statut</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ session.title }}</td>
                <td>{{ session.date | date('d/m/y') }}</td>
                <td><a href="{{ path('admin_session', {'id' : session.id}) }}">Afficher les inscrits</a></td>
                {% if session.status == true %}
                <td class="text-success">Ouvert</td>
                {% else %}
                <td class="text-danger">Fermé</td>
                {% endif %}
                <td  width='15px'>
                    <form action="{{ path('admin_session_edit', {'id': session.id}) }}">
                        <button class="material-icons-outlined btn bg-transparent">edit</button>
                    </form>
                </td>
                <td width='25px'>
                    <form action="{{ path('admin_session_delete', {'id': session.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr ?')">
                        <button class="material-icons-outlined btn bg-transparent">delete_forever</button>
                    </form>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <!-- New session button -->
    <button class="btn btn-secondary mb-3">
        <a href="{{ path('admin_session_new') }}">Ajouter une session</a>
    </button>

    <button class="btn btn-secondary mb-3 mx-2">
        <a href="http://www.facebook.com/sharer.php?u=https://www.ffmoto.org/&t=Motocross-Auribail">Partage sur Facebook</a>
    </button>
</div>
{% endblock %}