{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Id de la session : {{ id }}</h1>
    <table class="table table-striped">
        <h1>Liste des utilisateurs (Limité à 5)</h1>
        <thead>
            <tr>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Licence</th>
                <th scope="col">Adresse</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.birthdate | date('d/m/y') }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.license }}</td>
                <td>{{ user.address }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}