<div class="card text-center mx-5 mb-5">

 {% if nextSessionTitle is defined %}
      <div class="card-header">{{nextSessionTitle}}</div>
    {% else %}
  <div class="card-header">
    <!-- Date du prochain entraînement -->
    Inscription pour l'entrainement du
    <span data-date="{{nextSession.session.date | date('Y-m-d')}}" class="date-1 date">{{nextSession.session.date | date('d/m/Y')}}</span>
    :
  </div>
    {% endif %}
  <div class="card-body">
    <!-- Titre du prochain entraînement -->
    <h5 class="card-title">{{nextSession.session.title}}</h5>
    <!-- Si le prochain entraînement est ouvert -->
    {% if nextSession.session.status == true %}
      <!-- Affiche "Ouvert" -->
      <p class="text-success">Ouvert</p>
    {% else %}
      <!-- Affiche "Fermé" -->
      <p class="text-danger">Fermé</p>
    {% endif %}
    <!-- Affiche Nombre de places adultes restantes -->
    <p class="card-text">Place(s) adultes restantes :
      {{nextSession.adults}}</p>
    <!-- Affiche Nombre de places enfants restantes -->
    <p class="card-text">Place(s) enfants restantes :
      {{nextSession.children}}</p>

    <!-- Si le prochain entraînement est ouvert -->
    {% if nextSession.session.status == true %}

      {# On récupère l'âge de l'utilisateur #}
      {% if (app.user and date('now') | date('Y') - app.user.birthdate | date('Y')) >= 16 %}
        {% set list = nextSession.adults %}
        {% set limit = 75 %}
        {% set max = nextSession.totalAdults %}
      {% else %}
        {% set list = nextSession.children %}
        {% set limit = 15 %}
        {% set max = nextSession.totalKids %}
      {% endif %}

      <!-- Si il y a de la place sur la liste-->
      {% if list <= limit and list > 0 %}
        <!-- Si l'utilisateur est connecté et n'est pas inscrit -->
        {% if app.user and nextSession.statusUserThisSession != "signed" %}
          <!-- Ajoute un bouton s'incrire -->
          <a href="{{path('session', {'session':nextSession.session.id})}}" class="btn btn-primary">S'inscrire</a>
          <!-- Sinon si Si l'utilisateur est connecté et est déjà inscrit -->
        {% elseif app.user and nextSession.statusUserThisSession == "signed" %}
          <!-- N'inscrit pas l'utilisateur et affiche sa position -->
          <a class="btn btn-primary disabled">Déjà inscrit (position :
            {{ nextSession.position}} / {{max}})</a>
          <a class="btn btn-danger" href="{{ path('session_unsubscribe', { 'session' : nextSession.session.id }) }}">
            <button class="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>

        {% else %}
          <!-- Sinon affiche un bouton de connexion à l'utilisateur -->
          <a href="{{path('app_login')}}" class="btn btn-primary">Connexion</a>
        {% endif %}
      {% else %}
        <!-- Si l'utilisateur est connecté et n'est pas inscrit -->
        {% if app.user and nextSession.statusUserThisSession != "signed" %}
          <!-- Ajoute un bouton s'incrire -->
          <a href="{{path('session', {'session':nextSession.session.id})}}" class="btn btn-primary">S'inscrire en file d'attente</a>
          <!-- Sinon si Si l'utilisateur est connecté et est déjà inscrit -->
        {% elseif app.user and nextSession.statusUserThisSession == "signed" %}
          <!-- N'inscrit pas l'utilisateur et affiche sa position -->
          <a class="btn btn-primary disabled">Déjà inscrit (position :
            {{ nextSession.position}}  / {{max}} ) </a>
          <a class="btn btn-danger" href="{{ path('session_unsubscribe', { 'session' : nextSession.session.id }) }}">
            <button class="close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>

        {% else %}
          <!-- Sinon affiche un bouton de connexion à l'utilisateur -->
          <a href="{{path('app_login')}}" class="btn btn-primary">Connexion</a>
        {% endif %}
      {% endif %}
    {% else %}
      <a class="btn btn-primary disabled">Fermé</a>
    {% endif %}

  </div>
  <div class="card-footer text-muted">
    <a href="{{path('session_all')}}" class="">Voir les prochains entraînements</a>
  </div>

  <style>
    .close:hover {
      color: #fff !important;
    }
  </style>
</div>